/* OVERWRITTING AND EDITING DEFAULT BOOTSTRAP STYLES*/
:root,
[data-bs-theme=light]
[data-bs-theme=dark] {
    --bs-primary: #C78C06;
    --bs-primary-rgb: 177, 126, 6;
    --bs-secondary: #FFE6AC;
    --bs-secondary-rgb: 255, 230, 172;
    --cs-primary-dark: #966900;
    --cs-primary-dark-rgb: 150, 105, 0;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);;
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-primary {
    --bs-btn-color: var(--bg-dark);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bg-dark);
    --bs-btn-hover-bg: var(--cs-primary-dark);
    --bs-btn-hover-border-color: var(--cs-primary-dark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--bg-dark);
    --bs-btn-active-bg: var(--cs-primary-dark);
    --bs-btn-disabled-color: var(--bg-dark);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

/* CUSTOM CSS */
.banner{
background: white url(../images/main-banner.jpg) no-repeat center center;
background-size: cover;
}

